{% extends 'nfl_next_gen_stats/base.html' %}
{% block content %}
    <div class="player-stats-header">
        {% if season %}
            <h1>{{ player.full_name }}'s {{ season }} NGS Stats</h1>
            <p><a href="{% url 'player-page' player.gsis_id %}">Visit Career Stats</a></p>
        {% else %}
            <h1>{{ player.full_name }}'s Career NGS Stats</h1>
        {% endif %}
        <span style="display: block;"><strong>Team: </strong>{{ player.team }}</span>
        <span style="display: block;"><strong>Position: </strong>{{ player.position }}</span>
        <span style="display: block;"><strong>Years: </strong>
            {% for year in years %}
                <a href="{% url 'player-season' player.gsis_id year|floatformat:0 %}">{{ year|floatformat:0 }}</a>
            {% endfor %}
        </span>
    </div>
    <div class="player-stats-main">
        <div class="player-stats-passing">
            <h2>Passing Stats</h2>
            <!-- TODO: TURN INTO FLEXBOX -->
            <table class="table table-sm">
                <thead class="text-center bg-info text-white">
                    <tr>
                        <th>Year</th>
                        {% if season %}
                            <th>Week</th>
                        {% endif %}
                        <th>Pos</th>
                        <th>Team</th>
                        <th>Number</th>
                        <th title="Average Time To Throw">ATTT</th>
                        <th title="Average Completed Air Yards">ACAY</th>
                        <th title="Average Intended Air Yards">AIAY</th>
                        <th title="Average Air Yards Differential">AAYD</th>
                        <th title="Aggressiveness">AGG</th>
                        <th title="Average Air Distance">AAD</th>
                        <th title="Max Air Distance">MAD</th>
                        <th title="Max Completed Air Distance">MCAD</th>
                        <th title="Average Air Yards To Sticks">AAYTS</th>
                        <th title="Passer Rating">RAT</th>
                        <th title="Attempts">ATT</th>
                        <th title="Completions">COMP</th>
                        <th title="Completion Percentage">COMP%</td>
                        <th title="Expected Completion Percentage">xCOMP%</td>
                        <th title="Completion Percentage Above Expectation">+/-</th>
                        <th title="Passing Yards">Yards</th>
                        <th title="Interceptions">INT</th>
                        <th title="Passing Touchdowns">TD</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for stat in passing_stats %}
                        <tr>
                            <td>
                                {% if season %}
                                    {{ stat.season }}
                                {% else %}
                                    <a href="{% url 'player-season' player.gsis_id stat.season %}">
                                        {{ stat.season }}
                                    </a>
                                {% endif %}
                            </td>
                            {% if season %}
                                <td>{{ stat.week }}</td>
                            {% endif %}
                            <td>{{ stat.position }}</td>
                            <td>{{ stat.team }}</td>
                            <td>{{ stat.player_jersey_number }}</td>
                            <td>{{ stat.avg_time_to_throw|floatformat:2 }}</td>
                            <td>{{ stat.avg_completed_air_yards|floatformat:2 }}</td>
                            <td>{{ stat.avg_intended_air_yards|floatformat:2 }}</td>
                            <td>{{ stat.avg_air_yards_differential|floatformat:2 }}</td>
                            <td>{{ stat.aggressiveness|floatformat:2 }}</td>
                            <td>{{ stat.avg_air_distance|floatformat:2 }}</td>
                            <td>{{ stat.max_air_distance|floatformat:2 }}</td>
                            <td>{{ stat.max_completed_air_distance|floatformat:2 }}</td>
                            <td>{{ stat.avg_air_yards_to_sticks|floatformat:2 }}</td>
                            <td>{{ stat.passer_rating|floatformat:2 }}</td>
                            <td>{{ stat.attempts }}</td>
                            <td>{{ stat.completions }}</td>
                            <td>{{ stat.completion_percentage|floatformat:2 }}%</td>
                            <td>{{ stat.expected_completion_percentage|floatformat:2 }}%</td>
                            <td>{{ stat.completion_percentage_above_expectation|floatformat:2 }}%</td>
                            <td>{{ stat.pass_yards }}</td>
                            <td>{{ stat.interceptions }}</td>
                            <td>{{ stat.pass_touchdowns }}</td>
                        </tr>
                    {% empty %}
                        <th>
                            <td colspan="25">There are no passing stats for {{ player.full_name }}</td>
                        </th>
                    {% endfor %}
                </tbody>
            </table>
        
            <p>Note: NGS webpage only shows players with a minumum passing attempts for that week/season. Please see the NGS website for more details.</p>
        </div>

        <div class="player-stats-rushing">
            <h2>Rushing Stats</h2>
            <!-- TODO: TURN INTO FLEXBOX -->
            <table class="table table-sm">
                <thead class="text-center bg-info text-white">
                    <tr>
                        <th>Year</th>
                        {% if season %}
                            <th>Week</th>
                        {% endif %}
                        <th>Pos</th>
                        <th>Team</th>
                        <th>Number</th>
                        <th title="Efficiency">EFF</th>
                        <th title="8+ Defenders In The Box">8+D%</th>
                        <th title="Average Time Behind Line of Scrimmage">TLOS</th>
                        <th title="Rushing Attempts">ATT</th>
                        <th title="Rushing Yards">Yards</th>
                        <th title="Rushing Touchdowns">TD</th>
                        <th title="Expected Rushing Yards">xYards</th>
                        <th title="Rushing Yards Over Expected">RYOE</th>
                        <th title="Average Rushing Yards">AVG</th>
                        <th title="Rushing Yards Over Expected Per Attempt">RYOE/ATT</th>
                        <th title="Rushing Percentage Over Expected">RPOE</td>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for stat in rushing_stats %}
                        <tr>
                            <td>
                                {% if season %}
                                    {{ stat.season }}
                                {% else %}
                                    <a href="{% url 'player-season' player.gsis_id stat.season %}">
                                        {{ stat.season }}
                                    </a>
                                {% endif %}
                            </td>
                            {% if season %}
                                <td>{{ stat.week }}</td>
                            {% endif %}
                            <td>{{ stat.position }}</td>
                            <td>{{ stat.team }}</td>
                            <td>{{ stat.player_jersey_number }}</td>
                            <td>{{ stat.efficiency|floatformat:2 }}</td>
                            <td>{{ stat.percent_attempts_gte_eight_defenders|floatformat:2 }}%</td>
                            <td>{{ stat.avg_time_to_los|floatformat:2 }}</td>
                            <td>{{ stat.rush_attempts }}</td>
                            <td>{{ stat.rush_yards }}</td>
                            <td>{{ stat.rush_touchdowns }}</td>
                            <td>{{ stat.expected_rush_yards|floatformat:2 }}</td>
                            <td>{{ stat.rush_yards_over_expected|floatformat:2 }}</td>
                            <td>{{ stat.avg_rush_yards|floatformat:2 }}</td>
                            <td>{{ stat.rush_yards_over_expected_per_att|floatformat:2 }}</td>
                            <td>{% widthratio stat.rush_pct_over_expected 1 100 %}%</td>
                        </tr>
                    {% empty %}
                        <th>
                            <td colspan="20">There are no rushing stats for {{ player.full_name }}</td>
                        </th>
                    {% endfor %}
                </tbody>
            </table>
        
            <p>Note: NGS webpage only shows players with a minumum rushing attempts for that week/season. Please see the NGS website for more details.</p>
        </div>

        <div class="player-stats-receiving">
            <h2>Receiving Stats</h2>
            <!-- TODO: TURN INTO FLEXBOX -->
            <table class="table table-sm">
                <thead class="text-center bg-info text-white">
                    <tr>
                        <th>Year</th>
                        {% if season %}
                            <th>Week</th>
                        {% endif %}
                        <th>Pos</th>
                        <th>Team</th>
                        <th>Number</th>
                        <th title="Average Cushion">CUSH</th>
                        <th title="Average Separation">SEP</th>
                        <th title="Average Intended Air Yards">IAY</th>
                        <th title="Percent of Intended Air Yards">IAY%</th>
                        <th title="Receptions">REC</th>
                        <th title="Targets">TAR</th>
                        <th title="Catch Percentage">CATCH%</th>
                        <th title="Yards">Yards</th>
                        <th title="Receiving Touchdowns">TD</th>
                        <th title="Average YAC">YAC/R</th>
                        <th title="Average xYAX">xYAX/R</th>
                        <th title="Average YAC Above Expectation">+/-</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for stat in receiving_stats %}
                        <tr>
                            <td>
                                {% if season %}
                                    {{ stat.season }}
                                {% else %}
                                    <a href="{% url 'player-season' player.gsis_id stat.season %}">
                                        {{ stat.season }}
                                    </a>
                                {% endif %}
                            </td>
                            {% if season %}
                                <td>{{ stat.week }}</td>
                            {% endif %}
                            <td>{{ stat.position }}</td>
                            <td>{{ stat.team }}</td>
                            <td>{{ stat.player_jersey_number }}</td>
                            <td>{{ stat.avg_cushion|floatformat:2 }}</td>
                            <td>{{ stat.avg_separation|floatformat:2 }}</td>
                            <td>{{ stat.avg_intended_air_yards|floatformat:2 }}</td>
                            <td>{{ stat.percent_share_of_intended_air_yards|floatformat:2 }}%</td>
                            <td>{{ stat.receptions }}</td>
                            <td>{{ stat.targets }}</td>
                            <td>{{ stat.catch_percentage|floatformat:2 }}%</td>
                            <td>{{ stat.yards }}</td>
                            <td>{{ stat.rec_touchdowns }}</td>
                            <td>{{ stat.avg_yac|floatformat:2 }}</td>
                            <td>{{ stat.avg_expected_yac|floatformat:2 }}</td>
                            <td>{{ stat.avg_yac_above_expectation|floatformat:2 }}</td>
                        </tr>
                    {% empty %}
                        <th>
                            <td colspan="20">There are no reciving stats for {{ player.full_name }}</td>
                        </th>
                    {% endfor %}
                </tbody>
            </table>
        
            <p>Note: NGS webpage only shows players with a minumum targets for that week/season. Please see the NGS website for more details.</p>
        </div>
    </div>
{% endblock content %}